@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f9f6f1;
    color: $blackColor;
    font-family: $freeRegular;
    height: 100%;
    width: 100%;
}


.all_container {
    position: relative;
    width: 100%;
    height: 100%;
    @media (max-width: 390px) {
        background: $whiteColor;
    }

    img {
        width: 80px;
        height: auto;
    }

    .left {
        position: absolute;
        text-align: left;
        font-size: $bigTitle;
        font-family: $freeSemi;
        color: $blackColor;
        
        @media (max-width: 390px) {
            display: none; 
        }
    }

    .right {

    }

}






.container {
    overflow-y: auto;
    position: relative;
    width: 390px;
    height: 700px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: $whiteColor;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    z-index: 10;
    padding: 20px;
}
